{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:jsx-a11y/recommended", "plugin:react/recommended"],
  "rules": {
    "no-param-reassign": "off",
    "no-shadow": "off"
  }
}
