.main-map {
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.leaflet-popup-content {
  margin: 0;
  width: 400px !important;
}

.popup-content {
  height: 100%;
  border-radius: 12px;
  color: black;
  background-size: 100% 200px;
  background-repeat: no-repeat;
}

.popup-content img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popup-content-inner {
  padding: 16px 16px 0 16px;
}

.icon {
  position: absolute;
  top: -5px;
  left: -20px;
  width: 50px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.icon-avatar {
  position: absolute;
  top: -5px;
  left: -35px;
  width: 60px;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
