.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.leaflet-popup-content {
  margin: 0;
  width: 400px !important;
  height: 300px;
}

.popup-content {
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-end;
  border-radius: 12px;
  color: black;
  background-size: 100% 200px;
  background-repeat: no-repeat;
}

.popup-content .col-8 {
  display: flex;
  align-items: flex-end;
}

.leaflet-popup-content p {
  margin: 0 0 0.5rem 0;
}

.leaflet-popup-content img {
  height: 180px;
  width: auto;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 5px;
  right: 10px;
  font-size: 2rem;
}
