.welcome {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 103;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.welcome-content {
  width: 80%;
  max-width: 800px;
  padding: 1.25rem;
}

.welcome-content img {
  height: 350px;
  width: auto;
}
