/* Menu */

.menu-player {
  z-index: 101;
  position: fixed;
  top: 16px;
  left: 16px;
  padding: 16px;
  width: 400px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.menu-player .avatar {
  height: 50px;
  border-radius: 25px;
  margin-right: 16px;
  width: auto;
}

.menu-player .progress {
  width: 230px;
}

.menu-player button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.menu-player button:focus {
  box-shadow: none;
}

.menu-controls {
  z-index: 103;
  position: fixed;
  top: 24px;
  right: 24px;
}

.menu-controls button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 8px;
  color: #007bff;
  background-color: white;
}

/* Side modal */

.side {
  z-index: 102;
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.side-top {
  padding: 16px 24px;
}

.side-top h3 {
  margin-top: 16px;
  margin-bottom: 24px;
}

.inbox-top {
  display: flex;
  align-items: center;
}

.inbox-top button:focus {
  box-shadow: none;
}

.side .list-group {
  padding: 0 24px;
}

.side-list {
  flex: 1;
  overflow: auto;
}

.side-list::-webkit-scrollbar {
  display: none;
}

.side-list-item {
  border-bottom: 1px solid #ced4da;
  padding: 16px 24px;
  display: flex;
  align-items: center;
}

.side-list-item img {
  margin-right: 16px;
  width: 50px;
}

.side-list-item-body {
  flex: 1;
}

.side-list-item-body div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Confirm modal */

.confirm {
  z-index: 102;
  position: fixed;
  width: 400px;
  top: 30vh;
  left: 0;
  margin-left: calc(50% - 200px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Center modal */

.center {
  z-index: 102;
  position: fixed;
  width: 500px;
  top: 150px;
  margin-left: calc(50% - 250px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.leaderboard-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}

.leaderboard-item img {
  width: 50px;
  border-radius: 25px;
}

/* Transition */

.transition-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 103;
  height: 100vh;
  width: 100vw;
  background-color: white;
}
