{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["plugin:react/recommended"],
  "rules": {
    "max-classes-per-file": "off",
    "class-methods-use-this": "off"
  }
}
